
<button id="add_equipe_show" class='btn btn-success btn-sm' data-toggle="modal" data-target='#add-equipe' data-backdrop="static" data-keyboard="false"><span class='glyphicon glyphicon-plus'>&nbsp;</span> Ajouter équipe</button>
<script>
    $(document).ready(function() {
        $("#add_equipe_show").click(function() {
            $("#equipe_add_form")[0].reset();
        });
    } );
</script>
<?php

include_once __DIR__."/modals/equipe_add.php";
include_once __DIR__."/modals/equipe_update.php";

?>