<script>
    function openeEquipe(obj) {
        console.log(obj);
    }
    function format ( d ) {console.log('called');

        var result;
        var html;
        var innerHtml='';
        html = '<div class="list-group" id="list-group-'+d.id_entreprises_stt+'" style="width:260px;">';
        html += '<div class="row items-push-3x text-center">';
        html += '<i class="fa fa-3x fa-cog fa-spin"></i>';
        html += '</div>';
        html += '</div>';
        $.ajax({
            method: 'POST',
            url: 'api/entreprise/equipe_liste.php',
            data:{
                id: d.id_entreprises_stt
            }
        }).done(function( r ) {
            result = JSON.parse(r);

            if(result.data.length) {
                innerHtml += '<a class="list-group-item active" href="javascript:void(0)" style="cursor: default">';
                innerHtml += '<span class="badge">'+ result.count+'</span>';
                innerHtml += '<i class="fa fa-fw fa-list push-5-r"></i> Equipes';
                innerHtml += '</a>';
            } else {
                innerHtml += '<a class="list-group-item" href="javascript:void(0)" style="cursor: default">';
                innerHtml += '<i class="fa fa-fw fa-list push-5-r"></i> Aucune équipe !';
                innerHtml += '</a>';
            }
            jQuery.each(result.data, function(i, val) {
                innerHtml += '<a class="button list-group-item equipe-link" id="'+val.id_equipe_stt+'" data-toggle="modal" data-target="#update-equipe" data-backdrop="static" data-keyboard="false">';
                innerHtml += '<i class="fa fa-folder-open-o push-5-r"></i> '+val.nom;
                innerHtml += '</a>';
            });

            $('#list-group-'+d.id_entreprises_stt).html(innerHtml);
        });

        return html;
    }

    var dt;
    var idp;
    var ide;
    var btns = ["#add_equipe_show",
        "#update_project_show",
        "#delete_project"];

    $(document).ready(function() {

        $(document).on('click', "a.equipe-link", function() {
            console.log($(this).attr('id'));
            ide = $(this).attr('id');

            /*$.ajax({
                method: "POST",
                url: "api/entreprise/get_equipe_by_id.php",
                data: {
                    idp: ide
                }
            }).done(function (msg) {
                var obj = JSON.parse(msg);
                console.log(obj);
            });*/
        });


        $(function () {
            // Init page helpers
            App.initHelpers(['select2']);
        });
        dt = $('#entreprise_table').DataTable( {
            "language": {
                "url": "assets/js/plugins/datatables/French.json"
            },
            /*"scrollX": true,*/
            "autoWidth": false,
            "processing": true,
            "serverSide": true,
            "ajax": "api/entreprise/entreprise_liste.php",
            "columns": [
                {
                    "class":          "details-control",
                    "orderable":      false,
                    "data":           null,
                    "defaultContent": ""
                },
                { "data": "id_entreprises_stt" },
                { "data": "nom" },
                /*{ "data": "adresse_siege" },
                { "data": "adresse_livraison" },*/
                { "data": "gerant_entreprise" },
                { "data": "contact_nom" },
                 { "data": "contact_prenom" },
                 /*{ "data": "contact_tel_mobile" },
                 { "data": "contact_tel_fixe" },*/
                { "data": "contact_email" }
            ],
            "columnDefs": [
                { "targets": [1], "visible": false, "searchable": false } ],
            "order": [[1, 'desc']]
        } );

        // Array to track the ids of the details displayed rows
        var detailRows = [];

        $('#entreprise_table tbody').on( 'click', 'tr td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = dt.row( tr );
            var idx = $.inArray( tr.attr('id'), detailRows );

            if ( row.child.isShown() ) {
                tr.removeClass( 'details' );
                row.child.hide();

                // Remove from the 'open' array
                detailRows.splice( idx, 1 );
            }
            else {
                tr.addClass( 'details' );
                row.child( format( row.data() ) ).show();

                // Add to the 'open' array
                if ( idx === -1 ) {
                    detailRows.push( tr.attr('id') );
                }
            }
        } );

        // On each draw, loop over the `detailRows` array and show any child rows
        dt.on( 'draw', function () {
            $.each( detailRows, function ( i, id ) {
                $('#'+id+' td.details-control').trigger( 'click' );
            } );
        } );

        $(btns.join(',')).addClass("disabled");

        $('#entreprise_table tbody').on( 'click', 'tr', function (evt) {
            var $table=$(evt.target).closest('table');
            if($table.attr('id').indexOf('entreprise_table') > -1) {
                var $cell=$(evt.target).closest('td');
                if( $cell.index()>0){
                    if ( $(this).hasClass('selected') ) {
                        $(this).removeClass('selected');
                        $('.linked').prop('disabled', true);
                        $(btns.join(',')).addClass("disabled");
                    }
                    else {
                        dt.$('tr.selected').removeClass('selected');
                        $(this).addClass('selected');
                        $(btns.join(',')).removeClass("disabled");
                        if(dt.row('.selected').data() != undefined)
                        {
                            $('.linked').prop('disabled', false);
                            idp = dt.row('.selected').data().id_entreprises_stt;
                        }
                    }
                }
            }
        } );
    } );
</script>
<!-- Table projets -->
<div class="block">
    <div class="block-content">
        <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
        <table id="entreprise_table" class="table table-bordered table-striped js-dataTable-full" width="100%">
            <thead>
            <tr>
                <th class="no-sort"></th>
                <th>id</th>
                <th>nom</th>
                <!--<th>adresse siege</th>
                <th>adresse livraison</th>-->
                <th>gérant</th>
                <th>contact nom</th>
                <th>contact prénom</th>
                <!--<th>contact mobile</th>
                <th>contact fixe</th>-->
                <th>contact émail</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            <tr>
                <th class="no-sort"></th>
                <th>nom</th>
                <!--<th>adresse siege</th>
                <th>adresse livraison</th>-->
                <th>gérant</th>
                <th>contact nom</th>
                <th>contact prénom</th>
                <!--<th>contact mobile</th>
                <th>contact fixe</th>-->
                <th>contact émail</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<!-- END Table projets -->