
<button id="update_tablette_show" class='btn btn-primary btn-sm' data-toggle="modal" data-target='#update-tablette' data-backdrop="static" data-keyboard="false"><span class='glyphicon glyphicon-edit'>&nbsp;</span> Modifier</button>
<script>
    $(document).ready(function() {
        $("#update_tablette_show").click(function() {
            $("#tablette_update_imei").val(dt.row('.selected').data().imei);
            $("#tablette_update_company").val(dt.row('.selected').data().id_entreprise);
        });
    } );
</script>
<?php

include_once __DIR__."/modals/update.php";

?>