<script>
    var dt;
    var btns = ["#update_user_show",
        "#delete_user"];
    $(document).ready(function() {
        dt = $('#user_table').DataTable( {
            "language": {
                "url": "assets/js/plugins/datatables/French.json"
            },
            "autoWidth": false,
            "processing": true,
            "serverSide": true,
            "ajax": "api/utilisateur/utilisateur_liste.php",
            "columns": [
                { "data": "id_utilisateur" },
                { "data": "nom_utilisateur" },
                { "data": "prenom_utilisateur" },
                { "data": "email_utilisateur" },
                { "data": "lib_profil_utilisateur" }
            ],
            "order": [[0, 'desc']],
            "columnDefs": [
                { "targets": [ 0 ], "visible": false, "searchable": false } ]
        } );

        $(btns.join(',')).addClass("disabled");

        $('#user_table tbody').on( 'click', 'tr', function (evt) {
            var $table=$(evt.target).closest('table');
            if($table.attr('id').indexOf('user_table') > -1) {
                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                    $('.linked').prop('disabled', true);
                    $(btns.join(',')).addClass("disabled");
                }
                else {
                    dt.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    $(btns.join(',')).removeClass("disabled");
                    if(dt.row('.selected').data() != undefined)
                    {
                        $('.linked').prop('disabled', false);
                    }
                }
            }
        } );
    } );
</script>
<!-- Table projets -->
<div class="block">
    <div class="block-content">
        <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
        <table id="user_table" class="table table-bordered table-striped js-dataTable-full">
            <thead>
            <tr>
                <th>id</th>
                <th>nom</th>
                <th>prénom</th>
                <th>email</th>
                <th>profil</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            <tr>
                <th>id</th>
                <th>nom</th>
                <th>prénom</th>
                <th>email</th>
                <th>profil</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<!-- END Table projets -->