<li class="nav-main-heading"><span class="sidebar-mini-hide">Wiki</span></li>
<li class="">
	<a class="nav-submenu" data-toggle="nav-submenu">
		<i class="fa fa-forumbee"></i>
		<span class="sidebar-mini-hide"  id="idcat0">Catégories</span>
	</a>
	<ul id="menu_categorie"></ul>
</li>

<script>

function get_liste_sujets(id)
{
	window.location.replace("?page=wiki&id_cat="+id);
}

$(document).ready(function() {

var pressTimer;
$('span[id^=\'idcat\']').on('click',function(){
  var temp=$(this).attr('id');
  if(temp!='' && temp.length>=6 && temp.substring(0,5)=='idcat' && temp.replace('idcat','')!='')
  {
	get_liste_sujets(temp.replace('idcat',''));
  }
});

});


//DEBUT fonction d'initialisation du menu des Catégories
var str_pcats='';
function get_categorie_menu(id_cat) {
	var pcats,url="api/wiki/get_parent_categorie.php",idc='';
	if(id_cat!==undefined) {url="api/wiki/get_categorie_by_parent.php"; idc=id_cat;}
	console.log(url);
	$.ajax({
	  url: url,
	  data: {id: idc},
	  async: false
	})
		.done(function( data ) {
	    if ( console && console.log ) {
	      console.log( "Sample of data:", data );
	      pcats = jQuery.parseJSON( data );
	    }
		});
	console.log(pcats.length);
	var i=0;
	 for(;i<pcats.length;i++){
		console.log(url+'  '+pcats[i].id);
		str_pcats+='<li class=""><a class="nav-submenu" data-toggle="nav-submenu"><span class="sidebar-mini-hide" id="idcat'+pcats[i].id+'">'+pcats[i].nom+'</span></a><ul>';
		get_categorie_menu(pcats[i].id);
		str_pcats+='</ul></li>';
	}
}
//FIN fonction d'initialisation du menu des Catégories

//DEBUT d'initialisation du menu des Catégories
get_categorie_menu(undefined);
console.log(str_pcats);
str_pcats+='<li class=""><a href="" id="ajouter_categorie" data-toggle="modal" data-target="#modal-fromleft"><i class="fa fa-plus"></i> Ajouter</a></li>';
$('#menu_categorie').html(str_pcats);
//alert('test');
//FIN d'initialisation du menu des Catégories

</script>

<!-- From Left Modal -->
<div class="modal fade" id="modal-fromleft" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-fromleft">
    	<div class="modal-content">
        	<div class="block block-themed block-transparent remove-margin-b">
            	<div class="block-header bg-primary-dark">
                	<ul class="block-options">
                    	<li>
                        	<button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                       	</li>
                    </ul>
                    <h3 class="block-title">Ajouter une nouvelle Catégorie :</h3>
              	</div>
                <div class="block-content">
                	<div class="form-group">
						<div class="col-sm-9">
							<div class="form-material floating">
								<input class="form-control" id="nom_categorie" name="nom_categorie" type="text" style="text-align: center">
								<label for="nom_categorie">Nom</label>
							</div>
						</div>
					</div>
					<br/>
					<div class="form-group">
						<div class="col-sm-9">
							<div class="form-material floating">
								<select class="form-control" id="categorie_parent" name="categorie_parent" size="1">
				                </select> 
								<label for="categorie_sujet">Séléctionner une catégorie</label>
							</div>
						</div>
					</div>
					<br/>
					<div class="form-group">
                    	<div class="col-sm-9">
                        	<div class="form-material floating">
                            	<textarea class="form-control" id="description_categorie" name="description_categorie" rows="4"></textarea>
                                <label for="description_categorie">Description</label>
                            </div>
                        </div>
                    </div>
                    <br/>
            	</div>
	      	</div>
	      	<br/><br/><br/><br/><br/><br/>
	      	<div class="modal-footer">
                        <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Annuler</button>
                        <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal" onclick="envoyerCat()"><i class="fa fa-check"></i> Enregistrer</button>
                    </div>
 		</div>
                
            </div>
        </div>
         
        <!-- END From Left Modal -->
		
		<script>
		//DEBUT fonction d'envoi des données d'un sujet
		function envoyerCat()
		{
			/*alert($('#nom_categorie').val());
			alert($('#categorie_parent').val());
			alert($('#description_categorie').val());
			/*alert($('#categorie_sujet').val());*/
			
		$.ajax({
		  url: "api/wiki/categorie_add.php",
		  method: "POST",
		  data: {nom: $('#nom_categorie').val(), description: $('#description_categorie').val(), categorie: $('#categorie_parent').val()}
		})
	  	.done(function( data ) {
	    if ( console && console.log ) 
	      console.log( "Sample of data:", data );
	    	var obj = jQuery.parseJSON( data );
		if(obj.error=='0')
		    window.location.replace("?page=wiki&success_msg="+obj.message[0]);
		else
		    window.location.replace("?page=wiki&error_msg="+obj.message[0]);
	 	 });
		}
		//FIN fonction d'envoi des données d'un sujet
		
		//DEBUT récuperation des catégories
		$.ajax({
  		url: "api/wiki/categorie_select.php"
		})
  		.done(function( data ) {
    		if ( console && console.log ) 
      			console.log( "Sample of data:", data );
			    var obj = jQuery.parseJSON( data );
			    //alert( obj.name === "John" );
			    var tab = obj.data,i=0,str2='<option style="text-align: center"></option>';
			    for(;i<tab.length;i++){
					console.log( "ID :", tab[i].id );
  
					str2+='<option value="'+tab[i].id+'" style="text-align: center">'+tab[i].nom+'</option>';
										}
					$('#categorie_parent').html(str2);
    										
  		});
		//FIN récuperation des catégories
	
	
	
	
		</script>
