<li class="nav-main-heading"><span class="sidebar-mini-hide">Wiki</span></li>
<div id="menu_categorie"></div>

<script>

	function get_liste_sujets(id) {

		window.location.replace("?page=wiki&idcat="+id);
	}

	function get_categorie_menu(id_cat) {

		var pcats,url="api/wiki/get_parent_categorie.php",idc='';

		if(id_cat!==undefined) {

			url="api/wiki/get_categorie_by_parent.php"; idc=id_cat;
		}

		$.ajax( {
			url: url,
			data: {id: idc},
			async: false
		}).done(function( data ) {

			pcats = jQuery.parseJSON( data );

		});

		var i=0;

		for(;i<pcats.length;i++) {
			str_pcats+='<li class=""><a class="nav-submenu" data-toggle="nav-submenu"><span class="sidebar-mini-hide" id="idcat'+pcats[i].id+'">'+pcats[i].nom+'</span></a><ul>';
			get_categorie_menu(pcats[i].id);
			str_pcats+='</ul></li>';
		}
	}

	$(document).ready(function() {

		$('span[id^=\'idcat\']').on('click',function() {

			var temp=$(this).attr('id');

			if(temp!='' && temp.length>=6 && temp.substring(0,5)=='idcat' && temp.replace('idcat','')!='') {

				get_liste_sujets(temp.replace('idcat',''));
			}
		});

		$('body').on('click', '#show_root_cat_add', function() {
			//

			$("#wiki_add_root_cat_form")[0].reset();
		});

	});

	var str_pcats='';

	get_categorie_menu();

	str_pcats+='<li><a id="show_root_cat_add" href="#" data-toggle="modal" data-target="#modal-add-cat0" data-backdrop="static" data-keyboard="false"><i class="si si-plus"></i><span class="sidebar-mini-hide">Ajouter (Racine)</span></a></li>';
	//str_pcats+='<li class=""><a href="" id="ajouter_categorie" data-toggle="modal" data-target="#modal-fromleft"><i class="fa fa-plus"></i> Ajouter</a></li>';

	$('#menu_categorie').html(str_pcats);

</script>

