

<button id="update_project_show" class='btn btn-primary btn-sm' data-toggle="modal" data-target='#update-project' data-backdrop="static" data-keyboard="false"><span class='glyphicon glyphicon-edit'>&nbsp;</span> Modifier</button>
<script>
    $(document).ready(function() {
        $("#update_project_show").click(function() {
            App.activaTab('info_project_update_tab');
            if(uploader2 != null) uploader2.reset();

            console.log(dt.row('.selected').data().type_site_origine);

            $("#projet_update_id_chef_projet").val(dt.row('.selected').data().id_chef_projet);
            $("#projet_update_ville_nom").val(dt.row('.selected').data().ville_nom);
            $("#projet_update_ville").val(dt.row('.selected').data().ville).trigger("change");
            $("#projet_update_dept").val(dt.row('.selected').data().trigramme_dept.split('_')[1]);
            $("#projet_update_code_site_origine").val(dt.row('.selected').data().code_site_origine);
            $("#projet_update_type_site_origine").val(dt.row('.selected').data().type_site_origine);
            $("#projet_update_taille").val(dt.row('.selected').data().taille);
            $("#projet_update_etat_site_origine").val(dt.row('.selected').data().etat_site_origine);
            $("#projet_update_date_mad_site_origine").val(dt.row('.selected').data().date_mad_site_origine);
        });
    } );
</script>
<?php

include_once __DIR__."/modals/update.php";

?>